<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>
    <!-- update these with your BotId, Microsoft App Id and your Microsoft App Password-->
    
    <add key="BotId" value="helpdeskBot_ubi" />
    <!--<add key="MicrosoftAppId" value="" />
    <add key="MicrosoftAppPassword" value="" />
    <add key="TicketsAPIBaseUrl" value="http://localhost:3979/" />-->
    
    <!--<add key="WebServiceEndpoint" value="http://localhost:65484/Service1.svc/TicketingTool/" />-->
    <!--<add key="WebServiceEndpoint" value="http://104.211.181.34/TicketingToolSvc/Service1.svc/ticketingtool/" />-->

    <add key="QnaSubscriptionKey" value="1f14784dbf7b420a8434c477b8ba183c" />
    <add key="QnaKnowledgebaseId" value="3c4e5c2b-de6f-493f-a3b9-d265108c9c5c" />
    
    <add key="StorageConnedtionString" value="DefaultEndpointsProtocol=https;AccountName=bot1storageaccount;AccountKey=FMyilSmN8giEzSMmLVdLYtUBpL7djzs5GlmXYhy5TLJWk2hmXJute4Es1W6pFOJ1bs1wzz/zAMgl74z4JLnT8g==;EndpointSuffix=core.windows.net" />
    
    <add key="MicrosoftAppId" value="61cbf804-4271-4da6-9e29-a89c028c5abe" />
    <add key="MicrosoftAppPassword" value="bvniAGK?#=ejiGIHA41482;" />
    <!--<add key="WebServiceEndpoint" value="http://104.211.181.34/ermservice/Service1.svc/ticketingtool/" />-->
    <add key="WebServiceEndpoint" value="https://sso.e-pspl.com/BOTWS/Service1.svc/ticketingtool/" />
    <add key="TicketsAPIBaseUrl" value="https://demohelpdeskbot20180129053413.azurewebsites.net/" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" /> 
    <compilation debug="true" targetFramework="4.6" />
    <httpRuntime targetFramework="4.6" />
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="default.htm" />
      </files>
    </defaultDocument>
    
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Primitives" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.29.0" newVersion="4.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.IdentityModel.Tokens.Jwt" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.4.0" newVersion="5.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>